.cart-title{
    text-align: center;
}

/* order placed button */
.btn-wrapper{
    text-align: center;
}

.order-btn{
    cursor: pointer;
    padding: 1em;
    color: salmon;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .9em;
}

/* No itmes in cart p */
.no-items{
text-align: center;
font-size: 1.2em;
font-weight: bold;
}

/* total cost */
.total-cost{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1.3em;
}


