header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(114, 218, 250);
  color: white;
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

.cart-icon {
  color: white;
}

.header__image-shop-text {
  color: white;
}

.header__image-shop-text:hover {
  color: red;
}

.cart-icon:hover {
  color: red;
}

a {
  text-decoration: none;
}
