/* selected class coming from utils */
.big {
    grid-column: span 1;
    grid-row: span 1;
}
.wide {
    grid-column: span 2;
}


/* grid */
img.image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* heart/cart icons stay within div upon hovered*/
.image-container {
    position: relative;
}

/* Style/position heart, plus and shopping cart icons 
upon hovered and when clicked */
.favorite {
    color: red;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    left:8px;
    cursor: pointer;
}
.plusHoverIcon{
    color: rgb(255, 0, 191);
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.shoppingCartIcon{
    color: blue;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.shoppingCartIcon:hover{
    color: salmon;
}
/* ** */




